extends index

block admin

  legend Manage Products
  table.table.table-condensed
    thead
      tr
        th Name
        th Description
        th Category
        th Edit
        th Delete
    tbody
      for p in products
        tr
          td 
            a(href="/products/#{p.url}")= p.name
          td.span4= p.description
          td
            if (p.category)
              a(href="/admin/category")= p.category.name
          td
            a.btn.btn-primary(href="/admin/products/#{p.url}") Edit
          td
            form(name="deleteProduct", method="POST", action="/admin/products/#{p._id}")
              input(type="hidden", name="_method", value="DELETE")
              input.btn.btn-danger(type="submit", value="Delete")
  hr

  form(method="POST", action="/admin/products", enctype="multipart/form-data")
    fieldset
      legend Add a new product

      input(type="text", name="name", placeholder="product name", required)
      br
      select.select2.input-medium#single(name="category")
        option Select Category
        for c in category
          option(value="#{c._id}") #{c.name}
      br
      textarea(type="text", name="description", placeholder="description")
      
      br
      .fileupload.fileupload-new(data-provides="fileupload")
        P Upload Product Image:
        span.btn.btn-file
          span.fileupload-new Select file
          span.fileupload-exists Change
          input(type="file", name="image")
        &nbsp;
        span.fileupload-preview
        &nbsp;
        a.close.fileupload-exists(href="#", data-dismiss="fileupload", style="float: none")×
      br

      button.btn.btn-large.btn-primary(type="submit")
        span Submit