extends index

block script
  script(src="/js/lib/angular.min.js")
  script(src="/js/lib/ui-bootstrap.min.js")  
  script(src="/js/app2.js")
  // script
  //   function payTU (value){
  //     var terms = document.getElementById('paymentTerms')
  //     terms.value = value;
  //   };

block admin
  
  .lead Order Detail
  table.table
    tbody
      tr
        td Order ID
        td #{txn.tid}
      tr
        td Query Date
        td #{txn.created.toDateString()}
      tr
        td Status
        td
          include ../txns/_txnStatus
      tr
        td More Information
        td #{txn.info || '-'}

      tr
        td 
          h5 Shipping and Payment
        td
      tr
        td Delivery Time
        td #{txn.reqDue.toDateString()}
      tr
        td Payment Mode
        td #{txn.payMode}
          //- a.btn.btn-info(href="#payModal", role="button", data-toggle="modal") #{txn.payMode}
          //- #payModal(class="modal hide", tabindex="-1", role="dialog", aria-labelledby="payModalLabel", aria-hidden="true")
          //-   form(method="POST", action="/admin/orders/#{txn.tid}/paymentTerms")
          //-     .modal-header
          //-       button(type="button", class="close", data-dismiss="modal", aria-hidden="true")×
          //-       .lead(id="payModalLabel") Change Payment Mode
          //-     .modal-body
          //-       select.input-xlarge(name="payMode")
          //-         option(value="") Select New Mode
          //-         each term, i in paymentTerms
          //-           option(value=i) #{i}
          //-     .modal-footer
          //-       input.btn.btn-info(type="submit", value="Update")
          //-       button.btn(data-dismiss="modal", aria-hidden="true") Cancel
      
  .row
    .span4.well
      
      h5 Address
      address
        p #{txn.company.name}
        span #{txn.company.street}
        br
        span #{txn.company.city + ' , ' + txn.company.state}
        br
        span #{txn.company.country + ' ' + txn.company.zip}
    
    .span4.well
      h5 Contact
      p #{txn.contact.name.first + ' ' + txn.contact.name.last}
      p Mobile:&nbsp;&nbsp;
        span #{txn.contact.mobile}
      p Landline:&nbsp;&nbsp;
        span #{txn.contact.landline.area + '-' + txn.contact.landline.no}
      p Email:&nbsp;&nbsp;
        span #{txn.contact.email}

  h5 Products
  table.table
    thead
      tr
        th Name
        th Specs
        th Quantity
        th Quote
        //- th Action
    tbody
      for p in txn.products
        tr
          td #{p.name}
          td #{p.specs}
          td #{p.quantity + ' ' + p.unit}
          td
            if p.quote
              a.btn.btn-info(href="#{'#quoteModal' + p._id}", role="button", data-toggle="modal")
                span #{'$ ' + p.quote}
            else
              a.btn.btn-warning(href="#{'#quoteModal' + p._id}", role="button", data-toggle="modal")
                span Add Quote
            div(id="#{'quoteModal'+p._id}", class="modal hide", tabindex="-1", role="dialog", aria-labelledby="quoteModalLabel", aria-hidden="true")
              form(method="POST", action="/admin/orders/#{txn.tid}/products/#{p.pid}/quote")
                .modal-header
                  button(type="button", class="close", data-dismiss="modal", aria-hidden="true")×
                  .lead(id="quoteModalLabel") Quote for #{p.name}
                .modal-body                  
                  .input-prepend
                    span.add-on $
                    input.input-medium(type="number", name="quote")
                .modal-footer
                  input.btn.btn-info(type="submit", value="Save")
                  button.btn(data-dismiss="modal", aria-hidden="true") Cancel
  br
  form.offset1(method="POST", action="/admin/orders/#{txn.tid}/send")
    input.btn.btn-success.btn-large.span6(type="submit", value="Send Quote")