extends index
block admin

    .lead Manage Orders
    table.table
      thead
        tr
          th Order #
          th Info
          th Status
          th Quote
          th Contact
      tbody
        for order in txns
          tr
            td 
              a(href="/admin/orders/#{order.tid}") #{order.tid}
              br
              span #{order.created.toDateString()}
            td #{order.info || '--'}
            td #{order.status}
            td
              for p in order.products
                span #{p.name} : #{p.quote ? ('$ ' + p.quote + ' / ' + p.unit) : 'Not quoted'}
                br
            td 
              span #{(order.contact.name.first || '') + ' ' + (order.contact.name.last || '')}
              br
              span #{order.contact.email}