extends index
block admin

    .lead Manage Orders
    table.table
      thead
        tr
          th Order #
          th Status
          th Quote
          th Contact
      tbody
        for txn in txns
          tr
            td 
              a(href="/admin/orders/#{txn.tid}") #{txn.tid}
              br
              span #{txn.created.toDateString()}
            td
              include ../txns/_txnStatus
            td
              for p in txn.products
                span #{p.name} : #{p.quote ? ('$ ' + p.quote + ' / ' + p.unit) : 'Not quoted'}
                br
            td 
              span #{(txn.contact.name.first || '') + ' ' + (txn.contact.name.last || '')}
              br
              span #{txn.contact.email}