extends index
block admin

  legend Manage Users
  table.table.table-condensed
    thead
      tr
        th User
        th Company
        th Imex File
        th Status
        th Activate/Block
    tbody
      for u in users
        tr
          td
            p #{u.email}
            p #{u.name.first + ' ' + u.name.last}
            p #{u.phone}
          td 
            p #{u.company}
          td #{u.company.imex}
          td #{u.status}
          td
            if (u.status == 'notVerified')
              span Email not verified
            else if (u.status == 'verified')
              form(method="POST", action="/admin/users/#{u._id}/activated")
                input(type="hidden", name="_method", value="PUT")
                input.btn.btn-primary(type="submit", value="Activate")
            else if (u.status == 'activated')
              form(method="POST", action="/admin/users/#{u._id}/blocked")
                input(type="hidden", name="_method", value="PUT")
                input.btn.btn-danger(type="submit", value="Block")
            else if (u.status == 'blocked')
              form(method="POST", action="/admin/users/#{u._id}/activated")
                input(type="hidden", name="_method", value="PUT")
                input.btn.btn-warning(type="submit", value="Unblock")