extends index
block admin

  legend Manage Users
  table.table.table-condensed
    thead
      tr
        th User
        th Company
        th Status
        th Action
    tbody
      for u in users
        p= u
        tr
          td
            p #{u.email}
            p #{u.name.first + ' ' + u.name.last}
            p #{u.mobile}
            p #{u.landline}
          td 
            p #{u.company}
          td #{u.status}
          td
            case u.status
              when 'notVerified'
                span Email not verified
              when 'verified'
                form(method="POST", action="/admin/users/#{u._id}/activated")
                  input(type="hidden", name="_method", value="PUT")
                  input.btn.btn-primary(type="submit", value="Activate")
              when 'activated'
                form(method="POST", action="/admin/users/#{u._id}/blocked")
                  input(type="hidden", name="_method", value="PUT")
                  input.btn.btn-danger(type="submit", value="Block")
              when 'blocked'
                form(method="POST", action="/admin/users/#{u._id}/activated")
                  input(type="hidden", name="_method", value="PUT")
                  input.btn.btn-warning(type="submit", value="Unblock")