extends index
block txns

  legend Order Detail
  table.table
    tbody
      tr
        td Order ID
        td #{txn.tid}
      tr
        td Query Date
        td #{txn.created.toDateString()}
      tr
        td Status
        td
          include _txnStatus
      tr
        td More Information
        td #{txn.info || '-'}

  h5 Products
  table.table
    thead
      tr
        th Name
        th Specification
        th Quantity
        th Bid Price
        th Quote Price
    tbody
      for p in txn.products
        tr
          td #{p.name}
          td #{p.specs}
          td #{p.quantity + ' ' + p.unit}
          td #{'$ ' + p.bid}
          td #{'$ ' + p.quote}

  if (txn.bidNo == 0)
    a.btn.btn-info(href="#bidModal", role="button", data-toggle="modal")
      span Negotiate Price
    br
    br
  
    .div(id="bidModal", class="modal hide fade", tabindex="-1", role="dialog", aria-labelledby="bidModalLabel", aria-hidden="true")
      form(method="POST", action="/orders/#{txn.tid}/bid")
        .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-hidden="true")×
          .lead(id="bidModalLabel") Negotiate Price
        .modal-body
          p
            small You are allowed to negotiate only one time.
          for p in txn.products
            span #{p.name}
            &nbsp;&nbsp;&nbsp;
            .input-prepend.input-append
              span.add-on $
              input.input-mini(type="number", name="bids[#{p.pid}]", value="#{p.quote}")
              span.add-on #{' / ' + p.unit}
            br
        .modal-footer
          input.btn.btn-info(type="submit", value="Send Request")
          button.btn(data-dismiss="modal", aria-hidden="true") Cancel

  h5 Shipping and Payment
  table.table
    tbody
      tr
        td Destination Port
        td #{txn.shipping.destPort}
      tr
        td Delivery Time
        td #{txn.shipping.reqDue.toDateString()}
      tr
        td Shipping Terms
        td #{txn.shipping.terms}
      tr
        td Payment Terms
        td #{txn.payment.terms}
      
  .row
    .span4.well
      
      h5 Company
      address
        p #{txn.company.name}
        span #{txn.company.street}
        br
        span #{txn.company.city + ' , ' + txn.company.state}
        br
        span #{txn.company.country + ' ' + txn.company.zip}
    
    .span4.well
      h5 Contact
      p #{txn.contact.name.first + ' ' + txn.contact.name.last}
      p Phone:&nbsp;&nbsp;
        span #{txn.contact.phone.country + '-' + txn.contact.phone.area + '-' + txn.contact.phone.number}
      p Email:&nbsp;&nbsp;
        span #{txn.contact.email}

  if (txn.status == 'quote' || txn.status == 'bid')
    a.btn.btn-success(href="/orders/#{txn.tid}/pay") Proceed to create Purchase Order
    
  else if (txn.status == 'po')
    a.btn.btn-info(href='/orders/#{txn.tid}/po') See Purchase Order
  else if (txn.status == 'invoice')
    .btn.btn-info See Invoice

  if (txn.status == 'request' || txn.status == 'quote' || txn.status == 'bid')
    .btn Cancel Order