extends index
block txns

  .lead Order Detail
  table.table
    tbody
      tr
        td Order ID
        td #{txn.tid}
      tr
        td Query Date
        td #{txn.created.toDateString()}
      tr
        td
          strong Status
        td
          strong
            include _txnStatus
      tr
        td More Information
        td #{txn.info || '-'}

  h5 Products
  table.table
    thead
      tr
        th Name
        th Specification
        th Quantity
        th Quote Price
    tbody
      for p in txn.products
        tr
          td #{p.name}
          td #{p.specs}
          td #{p.quantity + ' ' + p.unit}
          td #{p.quote ? '$ ' + p.quote + ' / ' + p.unit : 'Waiting'}

  h5 Shipping and Payment
  table.table
    tbody
      tr
        td Delivery Time
        td #{txn.reqDue.toDateString()}
      tr
        td Payment Mode
        td #{txn.payMode}

  if (txn.payMode == 'RTGS' && txn.bank.name)
    include _showBankDetail
      
  .row
    .span4.well
      
      h5 Address
      address
        p #{txn.company.name}
        span #{txn.company.street}
        br
        span #{txn.company.city + ' , ' + txn.company.state}
        br
        span #{txn.company.country + ' ' + txn.company.zip}
    
    .span4.well
      h5 Contact
      p #{txn.contact.name.first + ' ' + txn.contact.name.last}
      p Mobile:&nbsp;&nbsp;
        span #{txn.contact.mobile}
      p Landline:&nbsp;&nbsp;
        span #{txn.contact.landline.area + '-' + txn.contact.landline.no}
      p Email:&nbsp;&nbsp;
        span #{txn.contact.email}

  .well
    case txn.status
      when 'requested'
        p.text-error We are working hard to get you the best prices. Wait for the price quote.

      when 'quoted'
        if (txn.payMode == 'RTGS')
          include _bankModal
        else
          include _confirmOrder

      when 'ordered'
        p.text-error We are awaiting your payment. We will ship your product once we receive the payment.
        a.btn.btn-info(href='/orders/#{txn.tid}/invoice') See Invoice

      when 'paid'
        .btn.btn-info(href='/orders/#{txn.tid}/invoice') See Invoice

      when 'delivered'
        p.text-error Your product has been shipped.
        .btn.btn-info(href='/orders/#{txn.tid}/invoice') See Invoice

      when 'cancelled'
        p.text-error This order has been cancelled.
    
    if (txn.status == 'requested' || txn.status == 'quoted')
      p
       span OR
      include _cancelModal