extends index
block txns

  .invoice
    h4 Tradohub.com
    p 
      | 602, Rajvi Arcade, Opp. Gurukul,
      br
      | Memnagar, Ahmedabad,
      br
      | Gujarat, India

  legend Invoice
  .pull-right.dont-print
    a.btn.btn-small.btn-success(href="#", onclick="window.print(); return false;") Print Invoice

  .well.dont-print
    include _paymentDetail

  h4 Order Detail
  table.table
    tbody
      tr
        td Order ID
        td #{txn.tid}
      tr
        td Query Date
        td #{txn.created.toDateString()}
      tr
        td
          strong Status
        td
          strong
            include _txnStatus
      tr
        td More Information
        td #{txn.info || '-'}

  h5 Products
  table.table
    thead
      tr
        th Name
        th Specification
        th Quantity
        th Quote Price
    tbody
      for p in txn.products
        tr
          td #{p.name}
          td #{p.specs}
          td #{p.quantity + ' ' + p.unit}
          td #{p.quote ? '$ ' + p.quote + ' / ' + p.unit : 'Waiting'}

  h5 Shipping and Payment
  table.table
    tbody
      tr
        td Expected Delivery Date
        td #{txn.reqDue.toDateString()}
      tr
        td Payment Mode
        td #{txn.payMode}

  if (txn.payMode == 'RTGS' && txn.bank.name)
    include _showBankDetail
      
  .row
    .span4.well
      
      h5 Address
      address
        p #{txn.company.name}
        span #{txn.company.street}
        br
        span #{txn.company.city + ' , ' + txn.company.state}
        br
        span #{txn.company.country + ' ' + txn.company.zip}
    
    .span4.well
      h5 Contact
      p #{txn.contact.name.first + ' ' + txn.contact.name.last}
      p Mobile:&nbsp;&nbsp;
        span #{txn.contact.mobile}
      p Landline:&nbsp;&nbsp;
        span #{txn.contact.landline.area + '-' + txn.contact.landline.no}
      p Email:&nbsp;&nbsp;
        span #{txn.contact.email}

  .invoice
    include _paymentDetail