extends index
block txns

  legend Order Status
  table.table
    thead
      tr
        th ID
        th Status
        th Products : Quote
        th Action
    tbody
      for txn in txns
        tr
          td 
            a(href="/orders/#{txn.tid}") #{txn.tid}
          td 
            include _txnStatus

          td
            for p in txn.products
              span #{p.name} : #{p.quote ? ('$ ' + p.quote + ' / ' + p.unit) : 'Not quoted'}
              br
          td
            case txn.status

              when 'requested'
                a.btn.btn-primary(href="#") Order Detail
            
              when 'quoted'
                a.btn.btn-primary(href="#") Confirm Order
            
              when 'ordered'
                a.btn.btn-primary(href="/orders/#{txn.tid}/invoice") Payment Detail

              when 'paid'
                a.btn.btn-primary(href="/orders/#{txn.tid}/invoice") Invoice

              when 'delivered'
                a.btn.btn-primary(href="/orders/#{txn.tid}/invoice") Invoice

              when 'cancelled'
                p.text-error Cancelled