extends index

block script
  script(src="/js/lib/angular.min.js")
  script(src="/js/lib/ui-bootstrap.min.js")
  script(src="/js/lib/ui-select2.js")  
  script(src="/js/app2.js")
  script
    function payTU (value){
      var terms = document.getElementById('paymentMode')
      terms.value = value;
    };
    function reqDueU (value){
      var terms = document.getElementById('reqDue')
      terms.value = value;
    };

block txns

  form.form-horizontal(name="txnForm", method="POST", action="/orders", ng-controller="TxnCtrl")
    .lead Request For Quote
    
    h5 Products
    .form-inline
      table.table.table-condensed.table-hover
        thead
          tr
            th Name
            th Quantity
            th Specification
            th
              i.icon-plus(ng-click="addProductField()")
        tbody
          tr(ng-repeat="product in form.txn.products")
            td
              select.input-large("ui-select2", name="products[{{$index}}][detail]", data-placeholder="Select Product", required)
                option
                for p in products
                  option(value='{"_id":"#{p._id}","name":"#{p.name}","unit":"MT"}') #{p.name}
            td
              .input-append
                input.input-small(type="number", name="products[{{$index}}][quantity]", placeholder="Quantity", required)
                span.add-on MT
            td
              input.input(type="text", name="products[{{$index}}][specs]", placeholder="Specification")
            td
              i.icon-remove(ng-click="removeProductField($index)", ng-show="form.txn.products.length > 1")

    h5 Shipping and Payment

    .control-group
      label.control-label(for="reqDue") Delivery Time
      .controls
        .btn-group(data-toggle="buttons-radio")
          input#reqDue(type="hidden", name="reqDue", value="")
          for i in reqDue
            button.btn.btn-info(type="button", onclick="reqDueU('#{i}');") #{i} days

    .control-group
      label.control-label(for="paymentMode") Payment Mode
      .controls
        .btn-group(data-toggle="buttons-radio")
          input#paymentMode(type="hidden", name="payMode", value="")
          each term, i in paymentTerms
            button.btn.btn-info(type="button", value="'#{i}'", onclick="payTU('#{i}');") #{i}

    .control-group
      label.control-label(for="info") More Information
      .controls
        textarea.input-xlarge(type="text", id="info", rows="3", name="info", placeholder="Provide more information here")

    h5 Shipping Address

    include ../_companyForm
    
    h5 Contact
    
    .control-group
      label.control-label(for="userName") Your Name
      .controls
        input.span2(type="text", id="userName", name="contact[name][first]", value="#{user.name.first || ''}", placeholder="First Name", required)
        input.span2(type="text", name="contact[name][last]", value="#{user.name.last || ''}", placeholder="Last Name", required)
    
    .control-group
      label.control-label(for="mobile") Mobile Number
      .controls
        .input-prepend
          span.add-on +91 - 
          input.input-medium#mobile(type="number", name="contact[mobile]", value="#{user.mobile || ''}", placeholder="Number", required)
    
    .control-group
      label.control-label(for="landline") Landline Number
      .controls
        input.input-mini(type="number", name="contact[landline][area]", value="#{user.landline.area || ''}", placeholder="Area", required)
        &nbsp;&nbsp;
        input.input-small#landline(type="number", name="contact[landline][no]", value="#{user.landline.no || ''}", placeholder="Number", required)
    
    .form-actions
      button.btn.btn-large.btn-success.span3(type="submit")
        span Submit