.control-group
  label.control-label(for="company") Company Name
  .controls
    input.input-xlarge(type="text", id="company", name="company[name]", value="#{user.company.name}", placeholder="Company Name", required)

.control-group
  label.control-label(for="street") Address
  .controls
    input.input-medium(type="text", id="street", name="company[street]", value="#{user.company.street || ''}", placeholder="Street")
    &nbsp;&nbsp;&nbsp;&nbsp;
    input.input-small(type="text", id="city", name="company[city]", value="#{user.company.city || ''}", placeholder="City")

.control-group
  label.control-label(for="state") State
  .controls
    select.select2.input-xlarge#state(name="company[state]", data-placeholder="Select State", title="Select your state", required)
      option(value="#{user.company.state || ''}") #{user.company.state || ''}
      for s in states
        option(value="#{s}") #{s}
    br
    br
.control-group
  label.control-label(for="zip") Zip / Postal Code
  .controls
    input.input-xlarge(type="text", id="zip", name="company[zip]", value="#{user.company.zip || ''}", placeholder="Zip / Postal Code")

.control-group
  label.control-label(for="country") Country
  .controls(style="padding-top: 5px;")
    //- input.input-xlarge(type="text", id="country", name="address[country]", placeholder="Country", required)
    span INDIA
    //- select.input-xlarge(name="company[country]", required)
    //-   option(value="#{user.company.country}") #{user.company.country}
    //-   each i in countryList
    //-     option(value=i.cca3) #{i.name}