doctype 5
html(lang="en", ng-app='tradohub')
  head
    title= title
    
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    //- google site verification and google plus for seo
    meta(name="google-site-verification", content="tryhOLaGu_vyDVy7tnkXwKx97pRtO9zWIehtde7c51o")
    link(rel='publisher', href='https://plus.google.com/100924688401941838725')
    meta(name='description', content='Raise profit margins, get volume and loyalty discounts, buy all your raw material needs for polymers, plastics and metals from Tradohub.')
    
    link(rel='stylesheet', href='#{staticFiles.mainCss}')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

  body
    #wrap
      include partials/_navbar
      #content-wrap
        .container
          include partials/_flashMessage
          block partial
        block indexPage
      
      hr
      #push

      a(title='Spinnakr Active Analytics', href='http://spinnakr.com')
        img(alt='Spinnakr Active Analytics', src='//s5.spn.ee/images/so-badge.gif', border='0')
      script.
        var _spinnakr_site_id='947223609';(function(d,t,a){var g=d.createElement(t), s=d.getElementsByTagName(t)[0];g[a]=a;g.src='//s5.spn.ee/js/so.js'; s.parentNode.insertBefore(g,s)}(document,'script','async'));
      
    script(type="text/javascript", src="#{staticFiles.mainJs}")
    
    block script

    //- Google analytics start
    include partials/_googleAnalytics
    //- google analytics end
    #footer
      .container
        include partials/_footer