extends index
block products
  .row
    .span5
      .lead #{product.name}
    .span4
      a.btn.btn-large.btn-success.span3(href="/quote") Request For Quote
  hr
  .row
    .span5      
      p(style="text-align: justify;") #{product.description}
      //- br

      if (specs && specs.title.length)
        h5 Specifications
        ul
          for t in specs.title
            li= t
      
      if (specs && specs.brands && specs.brands.length)
        h5 Brands
        ul
          for brand in specs.brands
            li= brand
    .span4
      if (imageUrl)
        img(src="#{imageUrl}", alt="#{product.name}", width="290px")
  
  
  if (specs)
    hr
    .row
      .span9
        table.table.table-bordered.table-striped.table-hover.table-condensed
          for c in specs.columns
            th= c
          for r in specs.rows
            tr
              for v in r
                  td= v
  hr
  .row          
    .span4
      - for c in category
        - if ((c._id).toString() == (product.category._id).toString()) {
            //- if (c.products.length > 1)
            p
              strong All products in #{c.name}:
            ul.unstyled
              for p in c.products
                li: a(href="/products/#{p.url}") #{p.name}
        -   break;
        - }
    .span4
      include ../_newProductRequest