extends index
block products
  .row
    .span5
      h3.lead #{product.name}
    .span4
      a.btn.btn-large.btn-success.span3(href="/quote") Request For Quote
  .row
    hr
    .span5      
      p(style="text-align: justify;") #{product.description}
      hr
      - for c in category
        - if ((c._id).toString() == (product.category._id).toString()) {
            //- if (c.products.length > 1)
            h5 All products in #{c.name}:
            ul.unstyled
              for p in c.products
                li: a(href="/products/#{p.url}") #{p.name}
        -   break;
        - }
      hr
      include ../_newProductRequest

    .span4
      if (imageUrl)
        img(src="#{imageUrl}", alt="#{product.name}")