extends index
block products
  .row
    .span5
      h3.lead #{product.name}
    .span4
      a.btn.btn-large.btn-success.span3(href="/quote") Request For Quote
  hr
  .row
    .span5      
      p(style="text-align: justify;") #{product.description}

    .span4
      if (imageUrl)
        img(src="#{imageUrl}", alt="#{product.name}")
  
  if (specs)
    hr
    .row
      .span9
        h5 Specifications
        for t in specs.title
          p= t
        table.table.table-bordered.table-striped.table-hover.table-condensed
          for c in specs.columns
            th= c
          for r in specs.rows
            tr
              for v in r
                  td= v
  hr
  .row          
    .span4
      - for c in category
        - if ((c._id).toString() == (product.category._id).toString()) {
            //- if (c.products.length > 1)
            h5 All products in #{c.name}:
            ul.unstyled
              for p in c.products
                li: a(href="/products/#{p.url}") #{p.name}
        -   break;
        - }
    .span4
      include ../_newProductRequest