extends index
block products
  .lead Products
  - var l = category.length
  - var n = Math.floor(l/2)
  .row
    .span4
      for c, i in category
        if (i < l-n)
          .well(style="padding: 2px 19px;")
            h5= c.name
            ul.unstyled
              for p in c.products
                li: a(href="/products/#{p.url}") #{p.name}
    .span4
      for c, i in category
        if (i >= l-n)
          .well(style="padding: 2px 19px;")
            h5= c.name
            ul.unstyled
              for p in c.products
                li: a(href="/products/#{p.url}") #{p.name}
  br
  include ../_newProductRequest